{% load static %}
{% block stylesheets %}
<style>
  .navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-center {
    margin-left: 20px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .navbar-right form {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .navbar-right .autocomplete-input {
    margin-right: 10px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
</style>
{% endblock stylesheets %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="navbar-left">
      <div class="navbar-brand">
        <a href="{% url 'home' %}">
          <img style="border-radius: 10px" src="{% static 'kam_track.png' %}" alt="Kam Track logo" width="75" height="75">
        </a>
      </div>
      <div class="navbar-center">
        <h5 class="my-0 mx-3 font-weight-bolder">Kam Track</h5>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <!-- Dashboard Link -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          <!-- Leads -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="leadsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leads
            </a>
            <ul class="dropdown-menu" aria-labelledby="leadsDropdown">
              <li><a class="dropdown-item" href="{% url 'lead-list' %}">View All Leads</a></li>
              <li><a class="dropdown-item" href="{% url 'lead-add' %}">Add New Lead</a></li>
            </ul>
          </li>

          <!-- Contacts -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contacts
            </a>
            <ul class="dropdown-menu" aria-labelledby="contactsDropdown">
              <li><a class="dropdown-item" href="{% url 'contact-list' %}">View Contacts</a></li>
            </ul>
          </li>

          <!-- Tasks -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tasksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tasks
            </a>
            <ul class="dropdown-menu" aria-labelledby="tasksDropdown">
              <li><a class="dropdown-item" href="{% url 'task-list' %}">View All Tasks</a></li>
              {% comment %} <li><a class="dropdown-item" href="{% url 'task-add' %}">Add New Task</a></li> {% endcomment %}
            </ul>
          </li>

          <!-- Meetings -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="meetingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Meetings
            </a>
            <ul class="dropdown-menu" aria-labelledby="meetingsDropdown">
              <li><a class="dropdown-item" href="{% url 'interaction-list' %}?interaction_type=meeting">View Meetings</a></li>
              <li><a class="dropdown-item" href="{% url 'interaction-add' lead_id='00000000-0000-0000-0000-000000000000' %}">Schedule a Meeting</a></li>
            </ul>
          </li>

          <!-- Calls -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="callsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calls
            </a>
            <ul class="dropdown-menu" aria-labelledby="callsDropdown">
              <li><a class="dropdown-item" href="{% url 'interaction-list' %}?interaction_type=call">View Calls</a></li>
              <li><a class="dropdown-item" href="{% url 'interaction-add' lead_id='00000000-0000-0000-0000-000000000000' %}">Log a Call</a></li>
            </ul>
          </li>

          <!-- "More" Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{% url 'account' %}">Profile</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
              <span class="d-sm-inline d-none">Sign Out</span>
            </a>
          </li>

        {% else %}
          <!-- Authentication Links -->
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link text-body font-weight-bold px-0">
              <span class="d-sm-inline d-none">Sign Up</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
