<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <title>
      {% block title %}{% endblock %}
  </title>

  <!-- Google Fonts -->
  <link href="{% static 'css/google-font.css' %}" rel="stylesheet" />

  <!-- Latest FontAwesome (CDN) -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'assets/css/soft-ui-dashboard.css' %}" rel="stylesheet" />

  <!-- Sentry SDK for JavaScript -->
  <script src="https://js.sentry-cdn.com/cf75ac079fc4d34af42827eff8c690e3.min.js" crossorigin="anonymous"></script>

  {% block stylesheets %}
  <style>
    html {
      {# font-size: 14px; #}
    }
  </style>
  {% endblock stylesheets %}
</head>

<body class="g-sidenav-show bg-gray-100">
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      {% include 'snippets/header.html' %}
      {% block content %}{% endblock content %}
      {% include 'snippets/footer.html' %}
  </main>

  {% include "snippets/scripts.html" %}

  <!-- Specific JS goes HERE -->
  <script src="{% static 'js/jquery.js' %}"></script>
  {% block javascripts %}{% endblock javascripts %}
</body>
</html>
